.highlightCard {
  margin-bottom: 2em;
}
.highlightCard .card {
  padding: 4px;

  color: #ffffff;
}
.highlightCard .card h1 {
  margin: 0;
  margin-right: 8px;
  text-align: right;

  font-size: 3rem;
}

.card-header--custom {
  margin: 8px -16px;

  padding: 8px 16px;
}