<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Totolink Controller</title>

    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="vendors/framework7.bundle.min.css">
    <link rel="stylesheet" href="apps.css">
    <style>
        #card-commponent .card .card-content { text-align: center; }
    </style>
</head>

<body>
    <div id="app" ng-app="webapps">
        <!-- Statusbar overlay -->
        <div class="statusbar"></div>

        <!-- Your main view, should have "view-main" class -->
        <div class="view view-main">
            <!-- Initial Page, "data-name" contains page name -->
            <div data-name="home" class="page">

                <!-- Top Navbar -->
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="title">Totolink Controller v0.1.0</div>
                        <div class="right">
                            <a href="#" class="link icon-only">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                    </div>
                    
                </div>

                <!-- Scrollable page content -->
                <div class="page-content" ng-controller="cards">
                    <div class="content-block">
                        <div id="rowListPair">
                            <div class="row">
                                <div class="col-50">
                                    <div class="card">
                                        <div ng-show="(device === null && loading === true)" class="progressbar-infinite"></div>
                                        <div class="card-content card-content-padding">
                                            <h2 class="no-margin">Device Information</h2>
                                            <span>information detail about device</span>

                                            
                                            <div class="text-align-center" ng-show="(device === null)">
                                                <img src="wifi.png" style="width: 400px;" alt="">

                                                <div class="" ng-show="(loading === true)">
                                                    <h2 class="no-margin">Loading..</h2>
                                                    <span>Getting Device Information</span>
                                                </div>
                                            </div>
                                            <div class="" ng-hide="(device === null)">
                                                <div class="bg-color-yellow card-header--custom">
                                                    <h2 style="margin-bottom: 0;">{{ device.data.wifi.ssid }} ({{ device.data.lan.ip.address }})</h2>
                                                    <p style="margin-top: 0;"><strong>{{ device.data.wifi.bssid.toUpperCase() }}</strong> / <strong>{{ device.data.wifi.mode }}</strong> / <strong>{{ device.data.wifi.band }}</strong></p>        
                                                </div>
                                                <div class="highlightCard row">
                                                    <div class="col-33">
                                                        <div class="card bg-color-blue">
                                                            <div class="card-content">
                                                                <span>Channel</span>
                                                                <h1>{{ device.data.wifi.channelNumber }}</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-33">
                                                        <div class="card bg-color-blue">
                                                            <div class="card-content">
                                                                <span>Connected</span>
                                                                <h1>{{ device.data.wifi.connectedClients }}</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-33">
                                                        <div class="card bg-color-blue">
                                                            <div class="card-content">
                                                                <span>Active Ports</span>
                                                                <h1>{{ getActivePorts(device.data.ports) }}</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
    
                                                <div class="row">
                                                    <div class="col-5"></div>
                                                    <div class="col-30">
                                                        <div class="gauge cpu"></div>
                                                    </div>
                                                    <div class="col-30">
                                                        <div class="gauge sdram"></div>
                                                    </div>
                                                    <div class="col-30">
                                                        <div class="gauge session"></div>
                                                    </div>
                                                    <div class="col-5"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-50">
                                    <div id="card-commponent" class="row" style="overflow-y: scroll; height: calc(100vh - 64px);">
                                        <!-- <div class="col-50 desktop-33" ng-repeat="device in devices" ng-click="getDetail(device)">
                                            <div class="card bg-color-orange">
                                                <div class="card-content card-content-padding">
                                                    <h3 style="margin: 0;">{{ device.ssid }}</h3>
                                                    <p>{{ device.ip }}</p>
                                                    <br>
                                                    <i class="material-icons">refresh</i>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="col-12">
                                            <br>
                                            <h2 class="no-margin">Devices List</h2>
                                            <span>List of TotoLink Devices</span>
                                        </div>
                                        <div class="list col-12">
                                            <ul>
                                                <li ng-repeat="device in devices">
                                                    <a href="#" ng-click="getDetail(device)" class="item-link item-content">
                                                        <div class="item-media">
                                                            <i class="material-icons text-color-red">wifi</i>
                                                        </div>
                                                        <div class="item-inner">
                                                            <div class="item-title">
                                                                <strong>{{ device.ssid }}</strong> ({{ device.ip }})
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shadow-dom">
        <div id="volume-component">
            <div class="chip">
                <div class="chip-media bg-color-red">{{itemOrder}}</div>
                <div class="chip-label"><strong>{{itemPair}}</strong> {{itemVolume}}</div>
            </div>
        </div>
    </div>

    <script src="vendors/framework7.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
    <script src="app.js"></script>
</body>

</html>